* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: lightgrey;
}

.header {
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: lightgrey;
    color: rgb(21, 21, 22);
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .Haleema {
    color: rgb(90, 99, 109);
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: rgb(21, 21, 22);
    text-decoration: none;
}

p {
    font-size: 16px;
}

.compImg {
    height: 1000px;
    width: 100%;
    background-image: url("/Users/nhk8766/code/HW2_Portfolio/Aesthetic_Macbook.webp");
    background-position: center;
    margin: auto;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.aboutMe, .codingProjects, .extracirricularActivities {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:lightgrey;
    color: rgb(21, 21, 22);
}

img .float-right {
    position: auto;
    height: 360px;
    width: 620px;
}
img .float-left {
    position: auto;
    height: 360px;
    width: 10%;
}

.icons {
  /* position: absolute; */
  width: 100%;
  margin-top: 20%;
  transform: translateY(-50%);
  text-align: center;
}

.contact-method {
  width: 220px;
  height: 140px;
  /* display: inline-block; */
  background-color: #3498db;
 
  color: #fff;
  /* position: relative; */
  cursor: pointer;
}

.contact-method i {
  /* position: absolute; */
   
  width: 100%;
  height: 100%;
  font-size: 30px;
  line-height: 140px;
  background-color: #34495e;
  /* z-index: 1; */
  transition: trasform 0.6s;
}

.contact-method span {
  /* position: absolute; */
  width: 100%;
 
}

.phone, .map-marker, .envelope, .linked-in, .facebook {
  float:left;
  width: 20%;
  
}
.clear_fix {
  clear:both
}
.contact-method:hover i {
  transform: translateY(-40px);
}
